/* signup.css */

body {
    margin: 100px; 
    padding: 100px;
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    background: linear-gradient(transparent, rgb(87, 187, 207)), url("LandingAssets/Background.jpeg") no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Set minimum viewport height */
    background-color: transparent; /* Match background color with homepage */
    font-size: 100px; /* Adjust the font size as needed */
}

.form {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
    border-radius: 20px;
    padding: 30px;
    background-color: transparent;
}

h1, h2 {
    text-align: center;
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
}

form {
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    color: transparent;
}

select {
    width: 70%;
    height: 25px;
}

img {
    height: auto;
    width: 100%;
    max-width: 250px;
}

.home {
    justify-content: center;
}

option {
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
    color: transparent;
}

input {
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    height: 30px;
    border-radius: 10px;
    width: 90px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
}

@media screen and (max-width: 992px) {
    /* Add responsive styles here if needed */
}

@media screen and (max-width: 600px) {
    /* Add responsive styles here if needed */
}
